/* Global Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
}

h1,
h2 {
    margin: 0;
}

/* Landing Page Title */
.game-title-landing {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}

/* Permanent Game Title */
.game-title-permanent {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    top: 20px;
    color: white;
}

.landing-container {
    text-align: center;
    padding: 20px;
}

.instructions {
    margin-top: 20px;
}

/* Game Area */
.game-wrapper {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.game-area {
    margin-top: 80px;
    display: inline-block;
    position: relative;
}

.score-area {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Game Over Screen */
#game-over-screen {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    color: white;
}

/* Mobile: */
@media only screen and (max-width: 480px) {
    .game-title-landing {
        font-size: 2.5rem;
    }

    .game-title-permanent {
        font-size: 2rem;
    }

    .game-area canvas {
        width: 100%;
        height: auto;
    }

    .score-area {
        font-size: 1rem;
    }

    .landing-container {
        padding: 10px;
    }

    .blurb,
    .instructions {
        font-size: 1rem;
    }
}

/* Tablet: */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .game-title-landing {
        font-size: 2.8rem;
    }

    .game-title-permanent {
        font-size: 2.2rem;
    }

    .game-area canvas {
        width: 80%;
        height: auto;
    }

    .score-area {
        font-size: 1.1rem;
    }
}

/* Laptop and larger screens */
@media only screen and (min-width: 769px) {
    .game-title-landing {
        font-size: 3rem;
    }

    .game-title-permanent {
        font-size: 2.5rem;
    }

    .game-area canvas {
        width: 800px;
        height: 400px;
    }

    .score-area {
        font-size: 1.2rem;
    }
}